//====================================
// Global Color Variable
//====================================

$primary: #00adb5;
$primary-tap: #00838f;
$success: #9ddfd3;
$warning: #ffe268;
$error: #f05945;

//====================================
// Text Color Variable
//====================================
$color-text-base: #000000;
$color-text-base-inverse: #ffffff;
$color-text-placeholder: #cccccc;
$color-text-disabled: #bbbbbb;
$color-text-caption: #888888;
$color-text-paragraph: #333333;
$color-link: #00adb5;
$color-shadow: #80808033;

//====================================
// Fill Color Variable
//====================================
$fill-base: #ffffff;
$fill-mask: #00000080;

//====================================
// Border Color Variable
//====================================
$border-color-base: #dddddd;

//====================================
// opacity Color Variable
//====================================
$opacity-base: #ffffff4d;
